---
title: Task Verification
date: 2020-03-15 14:00:00 +0000
slug: features/task-verification
seo_title: ''
seo_description: ''
feature_image: ''
hero_image: ''
icon: "/uploads/icon-cog-belt.svg"

---
**Did it get done to your standard? More than just ensuring brand consistency or that displays look right. Sometimes there’s a serious ramifications to not having tasks done to the right way . As an owner or frontline manager you need to ensure standards are being maintained.**

Tasks that involve Occupational Health and Safety, HR compliance, Cleanliness Procedures and more need proof that it was done right. It’s also a great measure to protect your staff should any contention or doubts arise.

\#team’s verification on tasks feature ensures that not only are you ahead of the competition with consistency but you can prove it.

![asdasd](/uploads/2018/02/17/building2.jpg "sads")http://www.reddit.com