$hero-banner-section-left-padding-y: 9.25rem;

.c-hero-banner {
	overflow: hidden;

	&__left {
	    padding-top: $hero-banner-section-left-padding-y / 2.5;
	    padding-bottom: $hero-banner-section-left-padding-y / 2.5;
	}
}
@include media-breakpoint-up(lg) {
	.c-hero-banner {

		&__left {
			padding-top: $hero-banner-section-left-padding-y;
		    padding-bottom: $hero-banner-section-left-padding-y;

		    h1, .h1 {
		    	font-size: 3.125rem;
		    }
		}
	}
}
